table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
  background-color: #F6F6F8;
  border: 1px solid #E3E3E3;
}

td, th {
  border: 1px solid #E3E3E3;
  text-align: center;
  padding: 8px;
}

td.custom-dropdown-cell:hover {
  background-color: #f1f1f1;
}

th {
  background-color: #C60021;
  color: #FFFFFF;
}

tr:nth-child(even) {
  background-color: #F6F6F8;
}

h1 {
  font-family: Sentinel, sans-serif;
  text-align: center;
  margin-top: 50px;
  color: #C60021;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}



.custom-dropdown.active {
  background-color: #ddd;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  max-height: 200px; /* Adjust the max-height based on your preference */
  overflow-y: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: Arial, sans-serif;
}

.dropdown-content a {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  white-space: nowrap;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.highlight {
  background-color: rgba(0, 128, 0, 0.3);
}

.arrow-icon {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 4px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid currentColor;
  vertical-align: middle;
}

.dropdown-content a.player-link {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.dropdown-content a.greyed-out {
  color: #999;
}

.player-data-table-container {
  max-height: 400px;
  overflow-y: auto;
  margin-top: 30px;
}

.player-data-table {
  width: 100%;
  border-collapse: collapse;
}

.player-data-table th,
.player-data-table td {
  border: 1px solid #ccc;
  text-align: left;
  padding: 8px;
}

.player-data-table th {
  background-color: #f2f2f2;
}

.special-name {
  font-family: 'Courier New', Courier, monospace; /* Change this to the desired font */
  font-weight: bold;
  font-variant: small-caps;
  background-image: linear-gradient(135deg, #b38f00 0%, #ffd700 100%);
  -webkit-background-clip: text;
  color: transparent;
}

.special-name::first-letter {
  font-size: 1.5em;
}




.time-early-morning {
  background-image: linear-gradient(to bottom, #87CEFA, #1E90FF);
}

.time-noon {
  background-image: linear-gradient(to bottom, #FFD700, #FFA500);
}

.time-evening {
  background-image: linear-gradient(to bottom, #FFA07A, #FF4500);
}

.time-night {
  background-image: linear-gradient(to bottom, #800080, #4B0082);
}

.color-legend {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1em;
}

.legend-item {
  display: flex;
  align-items: center;
  margin: 0.5em;
}

.legend-color {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
}

.main-header {
  display: flex;
  align-items: center;
  background-color: #333;
  padding: 1em;
}

.main-header h1 {
  color: #fff;
  font-size: 1.5em;
  margin: 0;
  flex-grow: 1;
}

.hamburger-menu {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 30px;
  height: 22px;
}

.hamburger-menu span {
  background-color: #fff;
  display: block;
  height: 3px;
  position: absolute;
  width: 100%;
}

.hamburger-menu span:nth-child(1) {
  top: 0;
}

.hamburger-menu span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.hamburger-menu span:nth-child(3) {
  bottom: 0;
}

.main-nav {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #333;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  transition: left 0.3s;
}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav li {
  margin-bottom: 10px;
}

.main-nav a {
  text-decoration: none;
  color: #947676;
  font-size: 18px;
}

/* Show menu when it's active */
.main-nav.active {
  display: block;
}

body.pushed {
  position: relative;
  left: 250px;
  transition: left 0.3s;
}






